<h1 id="title">Invoice Calculator</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price (incl. VAT)</th>
      <th>Price (excl. VAT)</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of resultInvoiceLines" id="invoice-lines">
      <td>{{line.product}}</td>
      <td>{{line.priceInclusiveVat}}</td>
      <td>{{line.priceExclusiveVat}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
        <td><b>Total</b></td>
        <td id="totalPriceInclusiveVat">{{totalPriceInclusiveVat}}</td>
        <td id="totalPriceExclusiveVat">{{totalPriceExclusiveVat}}</td>
      </tr>
      <tr>
      <td>
        <input  [(ngModel)]="product" id="product-input" type="text" />
        <select [(ngModel)]="vatCategoryString" id="vat-category-input" >
          <option>Food</option>
          <option>Drinks</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="priceInclusiveVat" id="priceInclusiveVat-input" type="number" />
      </td>
      <td>&nbsp;</td>
      <td>
        <button id="add-button" [disabled]="product==''" (click)="addInvoice()">Add</button>
      </td>
    </tr>
  </tbody>
</table>
